/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top {
    margin-top: -1px;
    @include tab {
        padding-top: 67px;
    }
    @include sp {
        padding-top: 45px;
    }
}
