/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
  position: relative;
  margin-top: 1px;
  @include tab {
    margin-top: 0;
  }
  .c-mainvisual__scroll {
    width: 34px;
    height: 58px;
    position: absolute;
    border: 2px solid #fff;
    border-radius: 17px;
    left: 50%;
    bottom: 20.7%;
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
    transition: 0.4s;
    &:hover {
      opacity: 0.7;
      transition: 0.4s;
    }
    &::after {
      content: "";
      width: 10px;
      height: 10px;
      position: absolute;
      border-radius: 50%;
      background: #fff;
      left: 50%;
      bottom: 61.1%;
      transform: translate(-50%, 0);
      z-index: 10;
      transition: 0.4s;
      animation: movedown 2s infinite;
      @include tab {
        position: absolute;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        bottom: 61.1%;
      }
      @include sp {
        width: 5px;
        height: 5px;
        position: absolute;
        border-radius: 50%;
        background: #fff;
        left: 50%;
        bottom: 61.1%;
      }
    }
    @include sp {
      width: 18px;
      height: 24px;
      border: 1px solid #fff;
      border-radius: 8px;
      left: 50%;
      bottom: 30.5%;
    }
  }

  .c-mainvisual__dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }
  .c-mainvisual__dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #000;
  }
  .c-mainvisual__slide {
    height: 671px;
    width: 100%;
    background-size: cover;
    background-position: center;
    @include tab {
    }
    @include sp {
      height: 389px;
    }
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    right: 1.5%;
    top: 52%;
    transform: translateY(-50%);
    list-style-type: none;
    li {
      margin-bottom: 28px;
    }
    button {
      display: block;
      width: 1.7rem;
      height: 1.7rem;
      padding: 0;
      border: none;
      cursor: pointer;
      border-radius: 100%;
      background-color: #000;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: #48b7d0;
    }
  }
  .c-mainvisual__news {
    position: absolute;
    padding: 14px 10px 13px;
    bottom: 4.5%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: normal;
    max-width: 970px;
    width: 100%;
    font-weight: 300;
    margin: 0 auto;
    background: #000;
    opacity: 0.8;
    @include font-size(15);
    @include tab {
      font-size: 1rem;
      justify-content: space-between;
      max-width: 753px;
    }
    @include sp {
      position: static;
      transform: translate(0);
      flex-direction: column;
      padding: 14px 10px 16px;
      max-width: 767px;
    }
  }
  .c-mainvisual__arrows {
    display: flex;
    margin-left: 4px;
    margin-top: -1px;
    @include sp {
      height: fit-content;
      padding-left: 6px;
      margin-top: 1px;
    }
  }
  .c-mainvisual__arrow {
    background-color: $blue;
    padding: 2px 6px;
    line-height: 1.1;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
      transition: 0.4s;
    }
    @include sp {
      padding: 7px 10px;
    }
  }
  .c-mainvisual__arrow:last-child {
    margin-left: 5px;
  }
  .c-mainvisual__date {
    letter-spacing: 1.4px;
    margin-left: 14px;
    @include sp {
      letter-spacing: 1.1px;
      line-height: 1.2;
    }
  }
  .c-mainvisual__content {
    margin-left: 19px;
    letter-spacing: 2px;
    h1 {
      font-size: 1.5rem;
      font-weight: 300;
    }
    @include sp {
      margin-left: 15px;
      letter-spacing: 1.3px;
      line-height: 1.6;
      padding-top: 10px;
      min-width: 224px;
      h1 {
        font-size: 1.2rem;
        font-weight: 300;
      }
    }
  }
  .c-mainvisual__contentadjust {
    transform: translateX(-14px);
    letter-spacing: 0.3px;
    display: inline-block;
    @include sp {
      display: inline;
    }
  }
  .c-mainvisual__more {
    margin-left: 55px;
    font-size: 1.3rem;
    position: relative;
    letter-spacing: 1px;
    &::before {
      content: "";
      background: #eee;
      opacity: 0.4;
      width: 1px;
      height: 31px;
      position: absolute;
      top: -6px;
      left: 2px;
    }
    &:hover {
      cursor: pointer;
      opacity: 0.7;
      transition: 0.4s;
    }
    @include sp {
      font-size: 1.3rem;
      letter-spacing: 1px;
      width: 95%;
      text-align: right;
      padding-top: 11px;
      margin-left: 0;
      border-top: 1px solid #ccc;
      &::before {
        display: none;
      }
    }
  }
  .c-mainviusal__morecontent {
    padding-left: 23px;
  }
  .c-mainvisual__top {
    display: flex;
    padding-bottom: 12px;
  }
  .c-mainvisual__datewrap {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .c-mainvisual__slidetext {
    font-size: 8rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -58.9%);
    text-shadow: #888 0px 0px 5px;
    @include sp {
      transform: translate(-50%, -50%);
      top: 49.3%;
    }
  }
  .c-mainvisual__bigtext {
    font-size: 8rem;
    letter-spacing: 11.2px;
    font-family: "Lora", serif;
    line-height: 1.45;
    font-weight: 400;
    @include tab {
    }
    @include sp {
      font-size: 5rem;
      letter-spacing: 4.7px;
      line-height: 1.3;
    }
  }
  .c-mainvisual__mainslidetext {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 36.6%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-shadow: #888 0px 0px 5px;
    @include sp {
      top: 42.1%;
      min-width: 189px;
    }
  }
  .c-mainvisual__smalltext {
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1.4px;
    text-shadow: #888 0px 0px 5px;
    @include sp {
      font-size: 1.5rem;
      letter-spacing: 1.6px;
    }
  }
  .c-mainvisual__maintext {
    font-size: 9rem;
    letter-spacing: 9px;
    text-shadow: #888 0px 0px 5px;
    font-family: "Lora", serif;
    line-height: 0.48;
    font-weight: 400;
    text-align: center;
    @include tab {
      letter-spacing: 8px;
    }
    @include sp {
      font-size: 4.5rem;
      letter-spacing: 4.5px;
      text-align: center;
    }
  }
  .c-mainvisual__small {
    font-family: "Lora", serif;
    font-weight: 400;
    letter-spacing: 2px;
    font-size: 2.8rem;
    text-shadow: #888 0px 0px 5px;
    display: inline-block;
    transform: translateX(0px);
    @include sp {
      font-size: 1.4rem;
      transform: translateX(6px);
    }
  }
  .c-mainvisual__subtext {
    transform: translateX(5px);
    margin-top: 37px;
    @include sp {
      transform: translateX(-3px);
      line-height: 0.4;
      margin-top: 20px;
    }
  }
  .c-mainvisual__mainsmalltext {
    letter-spacing: 1.2px;
    transform: translateY(8px);
    font-size: 1.8rem;
    text-shadow: #888 0px 0px 5px;
    font-weight: 300;
    @include sp {
      letter-spacing: 0.6px;
      transform: translateY(10px);
      font-size: 0.9rem;
    }
  }
  .c-mainvisual__maintextfix {
    display: inline-block;
    transform: translateX(-13px);
  }
  .c-mainvisual__logo {
    position: absolute;
    top: 14.9%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 630px;
    @include tab {
      width: 84.4%;
      max-width: 650px;
      min-width: 0;
    }
    @include sp {
      width: 84.4%;
      top: 24.3%;
      max-width: 317px;
      min-width: 0;
    }
  }
  @keyframes movedown {
      0% {
        transform: translate(-50%, 0);
        opacity: 1;
      }
      50% {
        transform: translate(-50%, 200%);
        opacity: 0;
      }
      100% {
        transform: translate(-50%, 0);
        opacity: 0;
      }
  }
  .c-mainvisual__slide1 {
    background-image: url("../../assets/img/mv1.jpg");
    @include tab {
      background-image: url("../../assets/img/mv1-sp.jpg");
    }
  }
  .c-mainvisual__slide2 {
    background-image: url("../../assets/img/mv2.jpg");
    @include tab {
      background-image: url("../../assets/img/mv2-sp.jpg");
    }
  }
  .c-mainvisual__slide3 {
    background-image: url("../../assets/img/mv3.jpg");
    @include tab {
      background-image: url("../../assets/img/mv3-sp.jpg");
    }
  }
  .c-mainvisual__slide4 {
    background-image: url("../../assets/img/mv4.jpg");
    @include tab {
      background-image: url("../../assets/img/mv4-sp.jpg");
    }
  }
  .c-mainvisual__hotnews{
    display: flex;
  }
}
