/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-mainvisual {
  position: relative;
  .c-mainvisual__dots {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }
  .c-mainvisual__dot {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #000;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    right: 1.5%;
    top: 52%;
    transform: translateY(-50%);
    list-style-type: none;
    li {
      margin-bottom: 28px;
    }
    button {
      display: block;
      width: 1.7rem;
      height: 1.7rem;
      padding: 0;
      border: none;
      border-radius: 100%;
      background-color: #000;
      text-indent: -9999px;
    }
    li.slick-active button {
      background-color: #48b7d0;
    }
  }
  .c-mainvisual__news{
    position: absolute;
    padding: 14px 10px 13px;
    bottom: 4.5%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
    color: #fff;
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: normal;
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
    background: #000;
    opacity: 0.8;
    @include font-size(15);
    @include tab {
      font-size: 1rem;
      justify-content: space-between;
      max-width: 753px;
    }
  }
  .c-mainvisual__arrows{
    display: flex;
    margin-left: 4px;
    margin-top: -1px;
  }
  .c-mainvisual__arrow{
    background-color: $blue;
    padding: 2px 6px;
    line-height: 1.1;
  }
  .c-mainvisual__arrow:last-child{
    margin-left: 6px;
  }
  .c-mainvisual__date{
    letter-spacing: 1.4px;
    margin-left: 14px;
  }
  .c-mainvisual__content{
    margin-left: 19px;
    letter-spacing: 2px;
  }
  .c-mainvisual__contentadjust{
    transform: translateX(-14px);
    letter-spacing: 0.3px;
    display: inline-block;
  }
  .c-mainvisual__more{
    margin-left: 55px;
    font-size: 1.3rem;
    letter-spacing: 1px;
  }
  .c-mainviusal__morecontent{
    padding-left: 23px;
  }
}
