/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-business {
  padding-top: 50px;
  .c-business__heading {
    padding-top: 1px;
    padding-top: 3px;
    @include font-heading;
  }
  .c-business__subheading {
    @include font-sub;
    max-width: 495px;
    margin: 0 auto;
    padding-top: 18px;
    line-height: 1.85;
  }
  .c-business__items {
    display: flex;
    max-width: 1218px;
    padding: 0 23px;
    width: 100%;
    margin: 39px auto 0;
    justify-content: space-between;
    @include tab {
      flex-wrap: wrap;
      max-width: 760px;
    }
  }
  .c-business__item {
    position: relative;
    width: 23%;
    cursor: pointer;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 560px;
      transition: 0.4s;
      opacity: 0.7;
      transform: rotate(-31deg) translate(-106px, -60px);
    }
    &::after {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 560px;
      opacity: 0.7;
      right: 0;
      top: 0;
      transition: 0.4s;
      transform: rotate(-31deg) translate(106%, -60px);
    }
    &:hover {
      &::before {
        transition: 0.4s;
        transform: rotate(-31deg) translate(-125%, -60px);
      }
      &::after {
        transition: 0.4s;
        transform: rotate(-31deg) translate(146%, -60px);
      }
    }
    @include tab {
      width: 38%;
      ::before {
        transform: rotate(-31deg) translate(-39%, -60px);
      }
      &::after {
        transform: rotate(-31deg) translate(106%, -60px);
      }
      &:nth-child(odd) {
        transform: translateX(60px);
      }
      &:nth-child(even) {
        transform: translateX(-60px);
      }
      &:nth-last-child(-n + 2) {
        margin-top: 48px;
      }
    }
  }
  .c-business__opposite {
    &::before {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 560px;
      opacity: 0.7;
      top: 0;
      transform: rotate(31deg) translate(-106%, -60px);
    }
    &::after {
      content: "";
      position: absolute;
      background: #fff;
      width: 100%;
      height: 560px;
      opacity: 0.7;
      right: 0;
      bottom: 0;
      transform: rotate(31deg) translate(39%, -60px);
    }
    &:hover {
      &::before {
        transition: 0.4s;
        transform: rotate(31deg) translate(-147%, -60px);
      }
      &::after {
        transition: 0.4s;
        transform: rotate(31deg) translate(125%, -60px);
      }
    }
    @include tab {
      &::before {
        transform: rotate(31deg) translate(-106%, -60px);
      }
      &::after {
        transform: rotate(31deg) translate(40%, -60px);
      }
    }
  }
  .c-business__description {
    position: absolute;
    bottom: 0;
    color: #fff;
    max-width: 240px;
    width: 90%;
    margin: 0 auto;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.8rem;
    font-weight: 600;
  }
  .c-business__tsunami {
    background: #d05e48;
    padding: 19px 0;
    text-align: center;
    bottom: 2.4%;
  }
  .c-business__drone {
    background: #48b7d0;
    padding: 20px 0 18px;
    text-align: center;
    bottom: 2.4%;
  }
  .c-business__camera {
    background: #a68a2a;
    padding: 19px 0;
    text-align: center;
    bottom: 2.4%;
  }
  .c-business__drill {
    background: #40a62a;
    padding: 19px 0;
    text-align: center;
    bottom: 2.4%;
  }
  .c-business__firstdes {
    padding-top: 14px;
    letter-spacing: 2px;
  }
  .c-business__secondes {
    padding-top: 20px;
    letter-spacing: 3px;
  }
  .c-business__thirddes {
    padding-top: 11px;
    letter-spacing: 2px;
  }
  .c-business__fourthdes {
    letter-spacing: 4px;
    padding-top: 14px;
  }
  .c-business__background {
    background-image: url(../../assets/img/bg-forest.jpg);
    width: 100%;
    height: 462px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 101px;
    position: relative;
    display: flex;
    @include tab {
      flex-direction: column;
      height: 624px;
    }
  }
  .c-business__matricepro {
    width: 60%;
    margin-top: -43px;
    margin-right: 0px;
    padding-left: 43px;
    @include medium {
      width: 60%;
      margin-top: 30px;
      margin-right: 0px;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
    @include tab {
      width: 55%;
      margin: 30px auto 0;
      padding-left: 0px;
    }
  }
  .c-business__text {
    width: 40%;
    padding-top: 92px;
    transform: translateX(-143px);
    max-width: 557px;
    color: #fff;
    @include medium {
      transform: translateX(-28px);
      color: #fff;
      padding-top: 27px;
    }
    @include tab {
      width: 100%;
      margin: 0 auto;
      max-width: 692px;
      transform: translate(0);
    }
  }
  .c-business__title {
    font-size: 2.4rem;
    font-weight: 600;
    max-width: 409px;
    letter-spacing: 1px;
    @include tab {
      max-width: 700px;
    }
  }
  .c-business__titlenote {
    letter-spacing: 2px;
  }
  .c-business__content {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 0.3px;
    padding-top: 21px;
    line-height: 1.99;
  }
  .c-business__note {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 23px;
  }
  .c-business__detail {
    text-align: center;
    font-weight: 600;
    padding-top: 24px;
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}
