/*------------------------------------------------------------
icon
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-actual {
  padding-top: 26px;
  @include sp {
    padding-top: 23px;
  }
  .c-actual__top {
    padding-bottom: 30px;
    padding-top: 49px;
    background-image: url("../../assets/img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include sp {
      padding-top: 38px;
      background-image: url("../../assets/img/background-sp.jpg");
      padding-bottom: 44px;
      position: relative;
    }
  }
  .c-actual__heading {
    padding-top: 1px;
    padding-top: 3px;
    @include font-heading;
    @include sp {
      padding-top: 6px;
    }
  }
  .c-actual__subheading {
    @include font-sub;
    max-width: 532px;
    margin: 0 auto;
    padding-top: 18px;
    letter-spacing: 0.5px;
    line-height: 2;
    @include sp {
      padding: 13px 17px 0;
      letter-spacing: 0.4px;
      line-height: 1.75;
    }
  }
  .c-actual__subheadingline2 {
    letter-spacing: -0.2px;
  }
  .c-actual__items {
    display: flex;
    max-width: 1200px;
    padding: 0 15px;
    margin: 35px auto 0;
    justify-content: space-between;
    @include sp {
      margin: 29px auto 0;
      padding: 0px 75px
    }
  }
  .slick-slide{
    @include sp {
      width: 225px;
    }
  }
  .slick-arrow{
    @include sp {
      width: 19px;
    }
  }
  .c-actual__slide{
    position: absolute;
    width: 89.8%;
    top: 63.8%;
    left: 5%;
    display: flex;
    justify-content: space-between;
  }
  .c-actual__item {
    cursor: pointer;
    width: 23%;
    @include sp {
      width: 65%;
      margin: 0 auto;
    }
  }
  .c-actual__itembg {
    position: relative;
    @include sp {
      img{
        width: 100%;
      }
    }
  }
  .c-actual__itemdes {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #48b7d0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    padding: 3px 8px 3px 6px;
    letter-spacing: 0.2px;
    @include sp {
      height: 22px;
      padding: 3px 16px 4px 10px;
    }
  }
  .c-actual__lowitem {
    margin-top: 15px;
    @include sp {
      margin-top: 0;
    }
  }
  .c-actual__desred {
    background: #d05e48;
  }
  .c-actual__title {
    min-height: 95px;
    background: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    padding-left: 13px;
    padding-top: 12px;
    letter-spacing: 1.2px;
    position: relative;
    color: #333333;
    &::after {
      content: ">";
      position: absolute;
      right: 8px;
      bottom: 8px;
    }
    @include sp {
      font-size: 1.3rem;
      padding-left: 14px;
      padding-top: 8px;
      min-height: 80px;
      &::after {
        content: ">";
        position: absolute;
        right: 15px;
        bottom: 10px;
      }
    }
  }
  .c-actual__detail {
    text-align: center;
    font-weight: 600;
    padding-top: 24px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-top: 3px;
    margin-bottom: 26px;
    cursor: pointer;
    @include sp {
      font-size:  1.4rem;
      padding-top: 17px;
      letter-spacing: 1.4px;
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
  .c-actual__banner {
    padding-top: 49px;
    background: #f5f5f5;
    @include sp {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .c-actual__banneritems {
    display: flex;
    @include tab {
      flex-direction: column;
    }
  }
  .c-actual__banneritem {
    position: relative;
    @include tab {
      img {
        width: 100%;
      }
    }
  }
  .c-actual__banneritem:last-child{
    @include sp {
      margin-top: 5px;
    }
  }
  .c-actual__bannertext {
    position: absolute;
    color: #fff;
    max-width: 432px;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    @include sp {
      left: 5%;
    }
  }
  .c-actual__bannertitle {
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 4px;
    @include sp {
      font-size: 1.6rem;
      padding-top: 4px;
      padding-bottom: 3px;
      letter-spacing: 2px;
    }
  }
  .c-actual__bannercontent {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px 0 1px;
    letter-spacing: 1px;
    line-height: 2.1;
    @include sp {
      font-size: 1.2rem;
      padding: 9px 0 1px;
      line-height: 1.63;
      letter-spacing: 0.8px;
    }
  }
  .c-actual__bannericon {
    font-size: 1.8rem;
    font-weight: 600;
    display: inline-block;
    transform: translateY(-3px);
    @include sp{
    font-size: 1.5rem;
    transform: translateY(-4px);
    }
  }
  .c-actual__bannercontent2 {
    letter-spacing: 1.3px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 6px 0 1px;
    line-height: 2.1;
    @include sp{
      font-size: 1.2rem;
      padding: 11px 14px 1px 2px;
      line-height: 1.62;
      letter-spacing: 3px;
    }
  }
  .c-actual__bannertext2 {
    left: 20.4%;
    @include sp {
      left: 5%;
    }
  }
}
