///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before {
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}

//------------------------------------------------------------
// margin
//------------------------------------------------------------

//------------------------------------------------------------
// color
//------------------------------------------------------------
//font
.u-static{
    position: static;
}
.u-required{
    background: #40a62a !important;
}
.u-contactft{
    bottom: -39.35%;
}