/*------------------------------------------------------------
footer
------------------------------------------------------------*/
@font-face {
  font-family: "YuMincho";
  src: url("../../assets/fonts/YuMincho.ttf");
}
@font-face {
  font-family: "KozGoPro";
  src: url("../../assets/fonts/KozGoPro.otf");
}
.c-footer {
  position: absolute;
  color: #333333;
  width: 100%;
  bottom: -10.85%;
  @include medium {
    bottom: -6.75%;
  }
  @include tab {
    position: static;
  }
  .c-footer__container {
    display: flex;
    justify-content: space-between;
  }
  .c-footer__left {
    width: 35%;
    background-image: url("../../assets/img/footer-left.png");
    @include background;
    position: relative;
    @include tab {
      height: 247px;
      background-size: contain;
    }
    @include sp {
      background-image: url("../../assets/img/footer-left-sp.png");
      height: 394px;
      background-size: contain;
    }
  }
  .c-footer__leftcontent {
    position: absolute;
    color: #fff;
    bottom: 9%;
    left: 20%;
    @include medium {
      position: absolute;
      color: #fff;
      bottom: 9%;
      left: 5.7%;
    }
    @include tab {
    }
    @include sp {
      display: none;
    }
  }
  .c-footer__contentsp {
    color: #40a62a;
    display: none;
    @include sp {
      display: block;
      padding: 30px 0 4px;
    }
  }
  .c-footer__leftlogo {
    font-family: "Lora", serif;
  }
  .c-footer__logobig {
    font-size: 5rem;
    @include medium {
      font-size: 4rem;
    }
    @include tab {
      font-size: 3.7rem;
    }
    @include sp {
      font-size: 3rem;
    }
  }
  .c-footer__logosmall {
    line-height: 1;
    @include sp {
      padding-top: 14px;
      padding-bottom: 3px;
    }
  }
  .c-footer__logosmalltext {
    font-size: 2rem;
    @include medium {
      font-size: 1.5rem;
    }
    @include medium {
      font-size: 1.2rem;
    }
  }
  .c-footer__logosmallbig {
    font-size: 5rem;
    line-height: 0.3;
    @include medium {
      font-size: 4rem;
    }
    @include tab {
      font-size: 3.7rem;
    }
    @include sp {
      font-size: 3rem;
    }
  }
  .c-footer__logotext {
    padding-top: 5px;
    letter-spacing: 2.6px;
    margin-left: -53px;
    font-weight: 300;
    font-size: 1.4rem;
    @include medium {
      letter-spacing: 0.3px;
      margin-left: -10.8px;
    }
    @include tab {
      font-size: 1rem;
    }
    @include sp {
      font-size: 1.2rem;
      letter-spacing: 1.8px;
      margin-left: 4px;
    }
  }
  .c-footer__right {
    width: 35%;
    @include background;
    background-image: url("../../assets/img/footer-right.png");
    background-position-x: right;
    @include tab {
      height: 247px;
      background-size: contain;
    }
    @include sp {
      background-image: url("../../assets/img/footer-right-sp.png");
      height: 394px;
      background-size: contain;
    }
  }
  .c-footer__info {
    text-align: center;
    width: 100%;
    max-width: 384px;
    margin-top: 10.2%;
    @include medium {
      line-height: 1;
    }
    @include tab {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3.2%;
    }
    @include sp {
      line-height: 0.6;
      position: absolute;
    }
  }
  .c-footer__logo {
    @include medium {
      img {
        width: 95px;
      }
    }
    @include sp {
      padding-top: 21px;
    }
  }
  .c-footer__company {
    padding-top: 8px;
    @include sp {
      font-size: 1.2rem;
      max-width: 300px;
      margin: 0 auto;
      padding-top: 13px;
      letter-spacing: 0px;
      line-height: 1.45;
      text-shadow: #eee 0px 0px 3px;
    }
  }
  .c-footer__companysmall {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
    font-weight: 300;
    @include sp {
      text-shadow: #eee 0px 0px 3px;
      font-size: 1.2rem;
    }
  }
  .c-footer__companybig {
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0px;
    transform: translate(-2px, 2px);
    display: inline-block;
    @include sp {
      font-size: 1.2rem;
      transform: translate(6px, 2px);
      text-shadow: #eee 0px 0px 3px;
      letter-spacing: 0.8px;
    }
  }
  .c-footer__address {
    display: inline-block;
    padding-top: 8px;
    letter-spacing: 1.1px;
    font-size: 1.3rem;
    font-weight: 300;
    @include sp {
      letter-spacing: 1px;
      padding-top: 9px;
      text-shadow: #eee 0px 0px 3px;
      font-size: 1.2rem;
    }
  }
  .c-footer__phone {
    padding-top: 14px;
    font-family: YuMincho;
    letter-spacing: -0.9px;
    font-weight: 400;
    font-size: 2.6rem;
    @include medium {
      font-size: 2.1rem;
      padding-top: 10px;
    }
    @include sp {
      font-size: 1.6rem;
      letter-spacing: 0.8px;
      margin-right: 7px;
      text-shadow: #eee 0px 0px 3px;
      padding-top: 25px;
    }
  }
  .c-footer__phonenumber {
    font-size: 3.2rem;
    letter-spacing: -0.6px;
    font-weight: 600;
    @include medium {
      font-size: 2.7rem;
    }
    @include sp {
      font-size: 1.8rem;
    }
  }

  .c-footer__fax {
    font-family: YuMincho;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 2px;
    letter-spacing: 1.5px;
    @include medium {
      padding-top: 5px;
    }
    @include sp {
      font-size: 1.2rem;
      letter-spacing: 1.3px;
      text-shadow: #eee 0px 0px 3px;
      padding-top: 17px;
    }
  }
  .c-footer__link {
    display: flex;
    justify-content: space-between;
    font-family: KozGoPro;
    font-size: 1.4rem;
    padding-top: 12px;
    @include sp {
      padding-top: 22px;
      text-shadow: #eee 0px 0px 3px;
      width: 69.2%;
      margin: 0 auto;
      letter-spacing: 1px;
    }
  }
  .c-footer__icon {
    font-weight: 600;
    font-size: 1.8rem;
    color: #48b7d0;
    @include sp {
      font-size: 0.8rem;
    }
  }
  .c-footer__access {
    width: 30%;
    @include sp {
      font-size: 1.1rem;
      width: 39%;
    }
  }
  .c-footer__privacy {
    width: 50%;
    letter-spacing: 1px;
    transform: translateX(8px);
    @include sp {
      transform: translateX(-9px);
      font-size: 1.1rem;
      width: 54%;
    }
  }
  .c-footer__copyright {
    padding-top: 33px;
    letter-spacing: 1.1px;
    padding-bottom: 57px;
    font-size: 1.2rem;
    font-weight: 300;
    @include medium {
      padding-top: 8px;
      padding-bottom: 10px;
    }
    @include sp {
      font-size: 1rem;
      letter-spacing: 1.2px;
      text-shadow: #eee 0px 0px 3px;
      padding-top: 28px;
    }
  }
  .c-footer__iconsp {
    @include sp {
      text-shadow: #eee 0px 0px 3px;
    }
  }
}
