/*------------------------------------------------------------
footer
------------------------------------------------------------*/
@include font-face(YuMincho, "./assets/fonts/YuMincho", normal, normal);
@include font-face(KozGoPro, "./assets/fonts/KozGoPro", normal, normal);

.c-footer {
  margin-top: -137px;
  position: relative;
  color: #333333;
  .c-footer__container {
    display: flex;
    justify-content: space-between;
  }
  .c-footer__left {
    width: 35%;
    background-image: url("./assets/img/footer-left.png");
    @include background;
    position: relative;
  }
  .c-footer__leftcontent{
    position: absolute;
    color: #fff;
    bottom: 9%;
    left: 20%;
  }
  .c-footer__leftlogo{
    font-family: 'Lora', serif;
  }
  .c-footer__logobig{
    font-size: 5rem;
  }
  .c-footer__logosmall{
    line-height: 1;
  }
  .c-footer__logosmalltext{
    font-size: 2rem;
  }
  .c-footer__logosmallbig{
    font-size: 5rem;
    line-height: 0.3;
  }
  .c-footer__logotext{
    padding-top: 5px;
    letter-spacing: 2.6px;
    margin-left: -53px;
  }
  .c-footer__right {
    width: 35%;
    @include background;
    background-image: url("./assets/img/footer-right.png");
    background-position-x: right;
  }
  .c-footer__info {
    text-align: center;
    width: 100%;
    max-width: 384px;
    margin-top: 10.2%;
  }
  .c-footer__logo {
  }
  .c-footer__company {
    padding-top: 10px;
  }
  .c-footer__companysmall {
    font-size: 1.3rem;
    letter-spacing: 0.5px;
  }
  .c-footer__companybig {
    font-size: 1.6rem;
    letter-spacing: 0px;
    transform: translate(-2px, 2px);
    display: inline-block;
  }
  .c-footer__address {
    display: inline-block;
    padding-top: 4px;
    letter-spacing: 0.4px;
  }
  .c-footer__phone {
    padding-top: 15px;
    font-family: YuMincho;
    font-weight: 400;
    font-size: 2.6rem;
  }
  .c-footer__phonenumber {
    font-size: 3.2rem;
    letter-spacing: -0.6px;
    font-weight: 600;
  }
  .c-footer__fax {
    font-family: YuMincho;
    font-size: 1.6rem;
    font-weight: 400;
    padding-top: 2px;
    letter-spacing: 1.5px;
  }
  .c-footer__link {
    display: flex;
    justify-content: space-between;
    font-family: KozGoPro;
    font-size: 1.4rem;
     padding-top: 12px;
  }
  .c-footer__icon{
    font-weight: 600;
    font-size: 1.8rem;
    color: #48b7d0;
}
  .c-footer__access{
    width: 30%;
  }
  .c-footer__privacy{
    width: 50%;
    letter-spacing: 1px;
    transform: translateX(8px);
  }
  .c-footer__copyright {
    padding-top: 28px;
    letter-spacing: 0.2px;
    padding-bottom: 58px;
  }
}
