/* Header
------------------------------------------------------------*/
.c-header {
  .c-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0px 16px;
    position: relative;
    max-width: 82.3%;
    margin-left: auto;
    width: 100%;
    z-index: 100;
    top: 0;
    min-width: 1022px;
    @include tab {
      position: fixed;
      background-color: #fff;
      min-width: 0;
      max-width: 100%;
    }
    @include sp {
      padding: 8px 0px;
      min-width: 0;
      max-width: 100%;
    }
  }
  .c-header__logo {
    width: 395px;
    margin-left: 20px;
    @include medium {
      min-height: 47px;
    }
    @include tab {
      width: 273px;
      min-height: 0;
    }
    @include sp {
      width: 165px;
      min-height: 0;
    }
  }
  .c-gnav {
    li {
      display: inline-block;
    }
  }
  .c-header__subnav {
    position: absolute;
    display: none;
    flex-direction: column;
    z-index: 1;
    font-size: 1.6rem;
    background: #1c2633;
    font-weight: 300;    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 53%);
    color: #fff;
    bottom: 0;
    transform: translate(-50%, 112%);
    left: 63%;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    width: 280px;
  }
  .c-header__subnav2 {
    transform: translate(-50%, 115.7%);
    left: 49%;
  }
  .c-header__subnavitem {
    padding: 15px 0px 16px;
    letter-spacing: 0.3px;
    border-bottom: 1px solid rgba(183, 183, 183, 0.27);
    &::after {
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      content: "\f105";
      position: absolute;
      right: 15px;
    }
  }
  .c-header__subnavitem:last-child {
    border-bottom: none;
  }
  .c-header__navitems {
    display: flex;
    width: 710px;
  }
  .c-header__navitem {
    font-size: 1.6rem;
    color: #333333;
    font-weight: 300;
    position: relative;
    transition: 0.4s;
    &:hover {
      .c-header__subnav {
        display: flex;
        transition: 0.4s;
      }
    }
    &:nth-child(-n + 4) {
      &:hover {
        opacity: 1;
      }
    }
  }
  .c-header__info {
    padding: 31px 36px 29px;
    background-color: #40a62a;
    text-align: center;
    color: #fff;
    letter-spacing: 0.7px;
  }
  .c-header__inquiry {
    padding: 31px 20px 29px 19px;
    background-color: #48b7d0;
    text-align: center;
    color: #fff;
    letter-spacing: 0.7px;
  }
  .c-header__item {
    margin-left: 21px;
    padding: 29px 0;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.4s;
    &:hover {
      transition: 0.4s;
      background-image: url("../../assets/img/nav-hover.png");
    }
  }
  .c-header__item:last-child {
    margin-right: 19px;
    letter-spacing: 1px;
  }
  .c-header__item2 {
    letter-spacing: 1.6px;
    margin-left: 19px;
    padding: 29px 0;
    &:hover {
      .c-header__subnav {
        display: flex;
      }
    }
  }
  .c-header__item3 {
    padding: 29px 0;
    margin-left: 39px;
  }
  .c-header__menu {
    padding-right: 13px;
    @include sp {
      padding-right: 19px;
      padding-top: 2px;
    }
  }
  .c-header__menuicon {
    width: 38px;
    @include sp {
      width: 33px;
    }
  }
  .c-header__closeicon {
    @include tab {
      width: 26px;
    }
    @include sp {
      width: 23px;
    }
  }
  .c-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    z-index: 9999;
    margin-top: 64px;
    @include tab {
      height: -webkit-calc(100% - 64px);
      overflow-y: auto;
      overflow-x: hidden;
    }
    @include sp {
      margin-top: 45px;
      height: -webkit-calc(100% - 45px);
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  .c-header__menuinfo {
    text-align: center;
    padding-top: 21px;
  }
  .c-header__addressdetail {
    letter-spacing: 1px;
    transform: translateX(4px);
    display: inline-block;
  }
  .c-header__menuaddress {
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
  }
  .c-header__menutel {
    font-size: 1.8rem;
    font-family: "Lora", serif;
    font-weight: 400;
    @include tab {
      display: block;
      padding-top: 6px;
      letter-spacing: 1.5px;
      padding-bottom: 2px;
    }
  }
  .c-header__menutellabel {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Lora", serif;
  }
  .c-header__menufax {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "Lora", serif;
    letter-spacing: 1px;
  }
  .c-header__menuitems {
    color: #000;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 2px;
    padding-top: 18px;
  }
  .c-header__menuitem {
    padding: 14px 10px 14px 20px;
    border-bottom: 1px dashed #cccccc;
    display: block;
    &:first-child {
      border: none;
      padding: 14px 10px 14px 26px;
    }
    &:nth-child(8) {
      color: #fff;
      background-color: #40a62a;
      span {
        color: #fff;
      }
    }
    &:last-child {
      background-color: #44b8d1;
      color: #fff;
      span {
        color: #fff;
      }
    }
  }
  .c-header__arrow {
    font-size: 1.6rem;
    font-weight: 600;
    color: #44b8d1;
  }
  .c-header__plus {
    font-size: 1.6rem;
    font-weight: 600;
    color: #44b8d1;
  }
  .c-header__back {
    text-align: center;
    display: block;
    color: #fff;
    background: #333;
    padding: 9px 20px 11px;
    text-align: center;
    letter-spacing: 2px;
  }
  .c-header__droplist {
    padding-top: 16px;
  }
  .c-header__dropitem {
    padding: 14px 10px 14px 20px;
    border-bottom: 1px dashed #cccccc;
    display: block;
    letter-spacing: 2.8px;
    &:first-child {
      border: none;
      padding: 14px 10px 14px 26px;
    }
  }
  .c-header__wrapperfixed {
    max-width: 82.3%;
    min-width: 1022px;
  }
  .c-header__fixedwrapper {
    width: 100%;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    opacity: 0.8;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 80%);
    right: 0;
  }
  .c-header__infofixed {
    padding: 23px 36px 21px;
  }
  .c-header__inquiryfixed {
    padding: 31px 20px 21px 19px;
  }
  .c-header__logofixed {
    width: 395px;
    margin-left: 20px;
    @include medium {
      min-height: 0;
      img {
        padding-top: 0;
      }
    }
  }
}
/* Main menu
------------------------------------------------------------*/
