/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    position: relative;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

.tab-below {
    display: none;
    @include tab {
        display: block;
    }
}
.sp-only{
    display: none;
    @include tab {
        display: none;
    }
    @include sp {
        display: block;
    }
}
.c-logo{
    text-align: center;
    @include sp {
        img{
            width: 35px;
        }
    }
}
.c-top{
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.4s;
    &:hover{
        opacity: 0.7;
    }
    @include sp {
        display: none;
    }
}
.c-top__button1{
    display: none;
}
.c-top__button2{
    display: none;
}
.is-show{
    display: block;
}
.is-hidden{
    display: none;
}
.pc-only{
    display: block;

    @include sp{
        display: none !important;
    }
}

//-------------------------------------------------------
.l-container {
    margin: 0 auto;
}
//-------------------------------------------------------
