/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}


.c-logo{
    text-align: center;
}
//-------------------------------------------------------
.l-container {
    margin: 0 auto;
}
//-------------------------------------------------------
