<%- include('_layouts/layout', { title: 'Home page' }); -%>

<!-- @meta -->
<meta name="description" content="Home page">
<!-- @@meta -->

<!-- @content -->
<main class="p-top">
  <%- include('_partials/mainvisual'); -%>
  <%- include('_partials/business'); -%>
  <%- include('_partials/actual'); -%>
  <%- include('_partials/news'); -%>
  <div class="c-top is-hidden">
    <img class="is-show c-top__button1" src="./assets/img/top.png" alt="Home page">
    <img class="c-top__button2" src="./assets/img/top-hover.png"  alt="Home page">
  </div>
</main>
<!-- @@content -->

<!-- @script -->
<script>
</script>
<!-- @@script -->
