<section class="c-contact">
  <div class="c-container">
    <div class="c-contact__headerimage">
      <h1 class="c-contact__title">お問い合わせ</h1>
    </div>
    <div class="c-contact__main">
      <div class="c-logo">
        <img src="./assets/img/section-logo.png" alt="実績紹介" />
      </div>
      <h2 class="c-contact__heading">お問い合わせフォーム</h2>
      <p class="c-contact__subheading">
        株式会社アイエステーへのお問い合わせ専用フォームです。弊社へのご質問・ご相談などありましたらどうぞお気軽にご連絡ください。後日メールまたはお電話にて返信いたします。
      </p>
    </div>
    <div class="c-contact__form">
      <form action="" id="form">
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus">任意</label>
            <label class="c-contact__labelname" for="corporate-name">法人名</label>
          </div>
          <div class="c-contact__input">
            <input class="c-contact__inputtext" id="corporate-name" placeholder="株式会社アイエステー" type="text" value="" />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus u-required">必須</label>
            <label class="c-contact__labelname" for="name">お名前</label>
          </div>
          <div class="c-contact__input">
            <input class="c-contact__inputtext" id="name" name="name" placeholder="熊本 太郎"  type="text" value="" />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus u-required">必須</label>
            <label class="c-contact__labelname" for="email">メールアドレス</label>
          </div>
          <div class="c-contact__input">
            <input class="c-contact__inputtext" id="email" name="email" placeholder="example@gmail.com"  type="text" value="" />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus u-required">必須</label>
            <label class="c-contact__labelname" for="phone">電話番号</label>
          </div>
          <div class="c-contact__input">
            <input class="c-contact__inputtext" id="phone" name="phone" placeholder="00-0000-0000"  type="phone" value="" />
          </div>
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus">任意</label>
            <label class="c-contact__labelname" for="ご住所">ご住所</label>
          </div>
          <div class="c-contact__inputaddress">
            <div class="c-contact__inputgroup">
                <div class="c-contact__input c-contact__inputadjust">
                    <label class="c-contact__labelname c-contact__labelnameadjust" for="ご住所">〒</label>
                     <input class="c-contact__inputtext c-contact__inputtextadjust" id="postal" placeholder="00-0000" type="text" value="" />
                </div>
                <div class="c-contact__selectgroup">
                    <select class="c-contact__select">
                        <option class="c-contact__option" value="">--都道府県--</option>
                        <option class="c-contact__option" value="dog">Dog</option>
                        <option class="c-contact__option" value="cat">Cat</option>
                        <option class="c-contact__option" value="hamster">Hamster</option>
                    </select>
               </div>
            </div>
            <div class="c-contact__input c-contact__inputadjust2">
                <input class="c-contact__inputtext " placeholder="ビル・マンションなど" type="text" value="" />
            </div>
            <div class="c-contact__input c-contact__inputadjust2">
                <input class="c-contact__inputtext" placeholder="市町村区番地" type="text" value="" />
            </div>
          </div>
          
        </div>
        <div class="c-contact__formrow">
          <div class="c-contact__label">
            <label class="c-contact__labelstatus u-required">必須</label>
            <label class="c-contact__labelname c-contact__customlabel" for="お問い合わせ">お問い合わせ 内容</label>
          </div>
          <div class="c-contact__input">
            <textarea class="c-contact__inputtext c-contact__inputtextarea"  id="content" name="content" rows="11" cols="33" placeholder="お問い合わせ内容をご入力ください。"></textarea>
          </div>
        </div>
        <input class="c-contact__formsubmit" type="submit" value="確認する >">
      </form>
    </div>
  </div>
</section>
