<footer class="c-footer">
  <div class="c-footer__container">
    <div class="c-footer__left">
      <img src="./assets/img/footer-left.png" alt="">
    </div>
    <div class="c-footer__info">
        <div class="c-footer__logo">
          <img src="./assets/img/flogo.png" alt="">
        </div>
        <div class="c-footer__company">
          <span>総合建設コンサルタント</span>
          <span>株式会社アイエステー（IST）</span>
        </div>
        <span class="c-footer__address">〒860-0833　熊本市中央区平成3丁目16番13号</span>
        <div class="c-footer__phone">
          <span>tel.096-285-5177</span>
        </div>
        <div class="c-footer__fax">
          <span>fax.096-285-5188</span>
        </div>
        <div class="c-footer__link">
          <a href="">交通アクセス></a>
          <a href="">   プライバシーポリシー></a>
        </div>
        <div class="c-footer__copyright">
          Copyright © IST CO., LTD. All Rights Reserved.
        </div>
    </div>
    <div class="c-footer__right">
      <img src="./assets/img/footer-right.png" alt="">
    </div>
  </div>
</footer>