<footer class="c-footer">
  <div class="c-footer__container">
    <div class="c-footer__left">
      <div class="c-footer__leftcontent">
        <div class="c-footer__leftlogo">
            <span class="c-footer__logobig">Protect</span>
            <div class="c-footer__logosmall">
              <span class="c-footer__logosmalltext">the</span><span class="c-footer__logosmallbig">future</span>
            </div>
        </div>
        <p class="c-footer__logotext">防災技術を駆使し、地域の未来を守る。</p>
      </div>
    </div>
    <div class="c-footer__info">
      <div class="c-footer__contentsp">
        <div class="c-footer__leftlogo">
            <span class="c-footer__logobig">Protect</span>
            <div class="c-footer__logosmall">
              <span class="c-footer__logosmalltext">the</span><span class="c-footer__logosmallbig">future</span>
            </div>
        </div>
        <p class="c-footer__logotext">防災技術を駆使し、地域の未来を守る。</p>
      </div>
        <div class="c-footer__logo">
          <img src="./assets/img/flogo.png" alt="総合建設コンサルタント">
        </div>
        <div class="c-footer__company">
          <span class="c-footer__companysmall">総合建設コンサルタント</span>
          <span  class="c-footer__companybig">株式会社アイエステー（IST）</span>
        </div>
        <span class="c-footer__address">〒860-0833　熊本市中央区平成3丁目16番13号</span>
        <div class="c-footer__phone">
          <a href="tel:096-285-5177"><span class="c-footer__phonelabel">tel.</span><span class="c-footer__phonenumber">096-285-5177</span></a>
        </div>
        <div class="c-footer__fax">
          <span>fax.096-285-5188</span>
        </div>
        <div class="c-footer__link">
          <a class="c-footer__access" href="">交通アクセス <span class="c-footer__icon">></span></a>
          <a class="c-footer__privacy" href="">プライバシーポリシー <span class="c-footer__icon c-footer__iconsp">></span></a>
        </div>
        <div class="c-footer__copyright">
          Copyright © IST CO., LTD. All Rights Reserved.
        </div>
    </div>
    <div class="c-footer__right">
      &nbsp;
    </div>
  </div>
</footer>