<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <% if (typeof mainvisual != 'undefined') { %>
            <% mainvisual.slides && mainvisual.slides.forEach(slide => { %>
                <div class="c-mainvisual__slide">
                    <picture>
                        <source media="(max-width: 1023px )" srcset="<%= slide.srcSp %>">
                        <img src="<%= slide.src %>" alt="Home page">
                    </picture>
                </div>
            <% }) %>
          <% } %>
    </div>  
    <div class="c-mainvisual__news is-pc">
        <div class="c-mainvisual__arrows">
            <div class="c-mainvisual__arrow">
                &lt;
            </div>
            <div class="c-mainvisual__arrow">
                &gt;
            </div>
        </div>
        <div class="c-mainvisual__date">
            <p>2018年11月22日</p>
        </div>
        <div class="c-mainvisual__content">
            <p>先進建設 <span class="c-mainvisual__contentadjust">・防災・減災技術フェアin熊本にドローン等について出展しました。</span></p>
        </div>
        <div class="c-mainvisual__more">
           <p class="c-mainviusal__morecontent">お知らせ一覧 ></p>
        </div>
    </div>
    <div class="is-sp">
        <div class="c-mainvisual__news ">
            <div class="c-mainvisual__top">
                <div class="c-mainvisual__arrows">
                <div class="c-mainvisual__arrow">
                    &lt;
                </div>
                <div class="c-mainvisual__arrow">
                    &gt;
                </div>
                </div>
                <div class="c-mainvisual__datewrap">
                        <div class="c-mainvisual__date">
                            <p>2018年11月22日</p>
                            </div>
                            <div class="c-mainvisual__content">
                            <h1>先進建設 <span class="c-mainvisual__contentadjust">・防災・減災技術フェアin熊本にドローン等について出展しました。</span></h1>
                             </div>
                        </div>
            </div>
            <div class="c-mainvisual__more">
                <p class="c-mainviusal__morecontent">お知らせ一覧 ></p>
            </div>
        </div>
    </div>
    <div class="c-mainvisual__scroll">
        &nbsp;
    </div>
    <div class="c-mainvisual__scrolldot">
        &nbsp;
    </div>
</section>