<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <% if (typeof mainvisual != 'undefined') { %>
            <% mainvisual.slides && mainvisual.slides.forEach(slide => { %>
                <div class="c-mainvisual__slide">
                    <img src="<%= slide.src %>" alt="">
                </div>
            <% }) %>
          <% } %>
    </div>  
  
</section>