<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <% if (typeof mainvisual != 'undefined') { %>
            <% mainvisual.slides && mainvisual.slides.forEach(slide => { %>
                <div class="c-mainvisual__slide">
                    <img src="<%= slide.src %>" alt="">
                </div>
            <% }) %>
          <% } %>
    </div>  
    <div class="c-mainvisual__news">
        <div class="c-mainvisual__arrows">
            <div class="c-mainvisual__arrow">
                &lt;
            </div>
            <div class="c-mainvisual__arrow">
                &gt;
            </div>
        </div>
        <div class="c-mainvisual__date">
            <p>2018年11月22日</p>
        </div>
        <div class="c-mainvisual__content">
            <p>先進建設 <span class="c-mainvisual__contentadjust">・防災・減災技術フェアin熊本にドローン等について出展しました。</span></p>
        </div>
        <div class="c-mainvisual__more">
           <p class="c-mainviusal__morecontent">お知らせ一覧 ></p>
        </div>
    </div>
</section>