<section class="c-mainvisual">
    <div class="c-mainvisual__slider">
        <div class="c-mainvisual__slide">
            <img src="./assets/img/mv1.jpg" alt="">
        </div>
    </div>  
</section>