<section class="c-news">
    <div class="c-logo">
        <img src="./assets/img/section-logo.png" alt="実績紹介" >
    </div>
    <h2 class="c-news__heading">お知らせ</h2>
    <div class="c-news__items">
        <% if (typeof news != 'undefined') { %>
            <% news.items && news.items.forEach(item => { %>
                <a class="c-news__item">
                    <p class="c-news__date"><%=item.date%></p>
                    <h3 class="c-news__title"><%=item.title%></h3>
                    <span class="c-news__icon <%=item.iconClass%>">></span>
                </a>
            <% }) %>
        <% } %>
    </div>
    <div class="c-news__more">
        <p class="c-news__morebtn">お知らせ一覧 ></p>
      </div>
</section>